*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    padding: 10px 5%;
}

nav .logo{
    width: 100px;
    height: 60px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 10px;
}

nav li{
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline;
    padding: 15px;
}

.nav-text{
    padding-top: 25px;
    padding-left: 30px;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(/source/Image/main.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10px 8%;
}

.flex {
    flex-wrap: wrap;
    padding: 0 1%;
  }

  .navright-side{
    position: absolute;
    right: 30px;
    top: 20px;
    display: flex;
    margin-right: 5px;
  }

  .icon {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    cursor: pointer;
  }

  .icon img {
    width: 15px;
  }

  .nav_avatar {
    width: 30px;
    height: 30px;
  }

  .text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .text-icon p {
    transition: ease-in 0.8s;
  }
  
  .text-icon img {
    width: 15px;
    margin: 0 10px;
  }
  
  .text-icon p:hover {
    color: #ff0000;
  }

/* -----images------- */
.row-poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-poster:hover{
    transform: scale(1.08);
}
.row-posters::-webkit-scrollbar{
    display: none;
}

.row-posterlarge{
    max-height: 250px;
}
.row-posters:hover{
    transform: scale(1.08);  
}
.row{
    margin-left: 20px;
    color: white;
}

.banner{
    background-image: url(/source/Image/main.png);
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 700px;
}

.banner-content{
    margin-left: 40px;
    padding-top: 200px;
    height: 200px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
  